aiofiles
aiohappyeyeballs
aiohttp
aiosignal
async-timeout
attrs
beautifulsoup4
certifi
cffi
charset-normalizer
click
colorama
contourpy
CTkTable
customtkinter
cycler
darkdetect
decorator
discord.py[voice]>=2.4,<2.6
discord-ext-voice-recv==0.4.2a145
PyNaCl
distro
exceptiongroup
ffmpeg-python
filelock
fonttools
frozenlist
fsspec
future
groq
gTTS
idna
imageio
importlib_metadata
importlib_resources
itsdangerous
Jinja2
kiwisolver
MarkupSafe
matplotlib
multidict
numpy
packaging
Pillow
pip
propcache
pycparser
pydantic
pydantic_core
pyparsing
python-dateutil
python-dotenv
pytz
pyaudio
regex
requests
scipy
seaborn
setuptools
six
sniffio
soupsieve
SpeechRecognition
tokenizers
torch --index-url https://download.pytorch.org/whl/cpu
torchaudio --index-url https://download.pytorch.org/whl/cpu
torchvision --index-url https://download.pytorch.org/whl/cpu
tqdm
transformers
optimum
accelerate
typing_extensions
tzdata
urllib3
yarl
yt-dlp
zipp
